@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  overflow-x: hidden;
}
.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

/* Styling */

/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */
.navbar {
  position: relative;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
/* Hamburger */
.hamburger {
  z-index: 999;
  cursor: pointer;
  transition: all 0.5s ease;
}
.hamburger div {
  transition: all 0.5s ease;
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: translateY(-8px) rotate(-49deg);
}

/* list */
.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bdbdbd3d;
  transform: translate(-100%, 0%);
  transition: transform 0.5s ease-in;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.nav-active {
  transform: translate(0%, 0%);
}

.list .list-item {
  list-style: none;
  opacity: 0;
  /* border: 1px solid; */
}

.list .list-item .list-link {
  text-decoration: none;
  color: #333;
  font-size: 25px;
}

/* Social Media */
.social i {
  padding: 10px;
  font-size: 23px;
}

/* Animation  */
@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Hamburger */
@keyframes ham {
  0% {
    /* transform: scale(0.5); */
    transform: rotate(100deg);
  }
  100% {
    /* transform: scale(1); */
    transform: rotate(0deg);
  }
}
