@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  overflow-x: hidden;
}
.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

/* Styling */

/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */
.navbar {
  position: relative;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/* Hamburger */
.hamburger {
  z-index: 999;
  cursor: pointer;
  transition: all 0.5s ease;
}
.hamburger div {
  transition: all 0.5s ease;
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

.toggle .line1 {
  transform: rotate(45deg);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: translateY(-8px) rotate(-49deg);
}

/* list */
.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bdbdbd8f;
  transform: translate(-100%, 0%);
  transition: transform 0.5s ease-in;
  z-index: 500;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.nav-active {
  transform: translate(0%, 0%);
}

.list .list-item {
  list-style: none;
  opacity: 0;
  /* border: 1px solid; */
}

.list .list-item .list-link {
  text-decoration: none;
  color: #333;
  font-size: 25px;
}

/* Social Media */
.social i {
  padding: 10px;
  font-size: 20px;
}
/* -------------------------------------------------------------------------- */
/*                               ShowCase video                               */
/* -------------------------------------------------------------------------- */
.screen {
  width: 100%;
  height: 90%;
}
.showcase {
  position: relative;
  transition: all 0.4s ease;
  /* cursor: pointer; */
}
/* .showcase .control:hover {
  opacity: 1;
} */
/* range */
.control {
  transition: all 0.4s ease;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  opacity: 1;
}
.range {
  display: flex;
  align-items: center;
}
.timestamp {
  margin: 0 10px;
}

/* Play Button */
.play {
  margin-left: 30px;
  border: none;
  background: none;
  transform: scale(0.7);
}
.play li {
  color: #fff;
}
.play div {
  width: 28px;
  height: 4px;
  margin: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.4s ease;
}
.p1 {
  transform: rotate(45deg);
}
.p2 {
  transform: rotate(90deg) translateY(13px) !important;
  width: 37px !important;
}
.p3 {
  transform: rotate(-45deg);
}

.change .p1 {
  transform: rotate(90deg);
}
.change .p2 {
  opacity: 0;
}
.change .p3 {
  transform: rotate(90deg) translate(-18px, 18px);
}

.timestamp {
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  Animation                                 */
/* -------------------------------------------------------------------------- */
@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Hamburger */
@keyframes ham {
  0% {
    /* transform: scale(0.5); */
    transform: rotate(100deg);
  }
  100% {
    /* transform: scale(1); */
    transform: rotate(0deg);
  }
}
